body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #333;
}

.movie-container, #reservationSection {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #444;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: auto;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0056b3;
}

#loginSection {
    text-align: center;
    padding: 20px;
}

#loginForm input {
    width: 80%;
    margin: 5px auto;
}

#guestButton {
    display: block;
    margin: 10px auto;
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#guestButton:hover {
    background-color: #e2e6ea;
}

#mainContent {
    display: none;
}

#reservationSection {
    display: none;
}
